:root {
  --ff-raleway: "Raleway", sans-serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-roboto-cond: "Roboto Condensed", sans-serif;
  --ff-source-sans: "Source Sans Pro", sans-serif;

  --clr-green: hsl(136 53% 59%);
  --clr-gray: hsl(0 0% 65%);
  --clr-light-gray: hsl(231 6% 58%);
  --clr-black: hsl(216 8% 12%);
  --clr-white: hsl(0 0% 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: var(--ff-raleway);
  font-weight: 400;
}

img {
  width: 100%;
  display: block;
  cursor: pointer;
}

button {
  display: inline-block;
  border: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

button[disabled] {
  filter: saturate(20%);
}

button,
select {
  font-family: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\200B";
}

ul li {
  margin-block: 0;
}

li span {
  line-height: 1.6;
}

.flex {
  display: flex;
}

.clr-black {
  color: var(--clr-black);
}

.clr-light {
  color: var(--clr-light-gray);
}

.clr-black {
  color: var(--clr-black);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; 
  border: 0;
}

/* HEADER section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-logo {
  width: 40px;
}

.btn-header-wrapper {
  display: flex;
  margin-inline-start: auto;
}

.btn {
  width: 3rem;
  height: 3rem;
  margin-inline: 0.5rem;
}

.btn-currency {
  color: var(--clr-black);
  border: none;
  font-weight: 500;
  font-size: 1.125rem;
  margin-inline-start: auto;
  padding-inline: 0.5556rem;
  position: relative;
}

.btn-currency::after {
  content: "";
  background: url(/src/static/arrow-down.svg) center center no-repeat;
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  right: 4px;
  bottom: 18px;
}

.btn-currency option {
  font-weight: 500;
}

.btn-cart-container {
  position: relative;
}

.btn-cart {
  background-image: url(/src/static/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.btn-cart-counter {
  position: absolute;
  right: 9px;
  bottom: 26px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: var(--clr-black);
  color: var(--clr-white);
  justify-content: center;
  align-items: center;
}

@media (max-width: 45.625em) {
  .btn-menu {
    font-size: 1.125rem;
    z-index: 6000;
  }

  .btn-menu[aria-expanded="true"] {
    color: var(--clr-green);
  }

  .primary-navigation {
    z-index: 5000;
    position: fixed;
    padding-block-start: 1.5rem;
    background: var(--clr-white);
    border-left: 2px solid var(--clr-green);
    inset: 0 0 0 20%;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 300ms ease-in-out;
    transform: translateX(100%);
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }
}

.primary-navigation li {
  margin-block-start: 1rem;
  align-items: center;
  justify-content: center;
}

.nav-link {
  display: inline-block;
  width: 90%;
  text-decoration: none;
  text-transform: uppercase;
  padding-inline: 1rem;
  padding-block-end: 1.5rem;
}

.nav-link:link,
.nav-link:visited,
a:link,
a:visited {
  color: var(--clr-black);
}

.nav-link:hover {
  color: var(--clr-gray);
}

.nav-link.selected {
  font-weight: 600;
  color: var(--clr-green);
  border-bottom: 2px solid var(--clr-green);
}

/* PRODUCTS LIST section */

.content-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 200;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.25);
}

.category-heading {
  color: var(--clr-black);
  font-size: 2.625rem;
  font-weight: 400;
  margin: 1rem;
  padding-inline: 0.5rem;
}

.products-container {
  margin-block-start: 1rem;
  display: grid;
  grid-template-columns: minmax(auto, 350px);
  grid-auto-rows: minmax(auto, 350px);
  justify-content: center;
  align-content: start;
}

/* Product Card */
.product-card {
  padding: 1rem;
  color: var(--clr-black);
  position: relative;
  transition: transform 500ms ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 45.625em) {
  .product-card {
    margin: 1rem;
  }
}

.product-thumbnail {
  height: 70%;
  object-fit: contain;
}

.product-name {
  margin-block-start: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.product-price {
  font-weight: 500;
  font-size: 1.125rem;
}

.product-cta {
  justify-content: space-between;
  align-items: center;
}

.product-card-btn-addToCart {
  width: 52px;
  height: 52px;
  background: url(/src/static/btn-add-to-cart.svg) center center no-repeat;
  background-size: 100%;
}

.product-card-btn-addToCart[disabled],
.product-card.out-of-stock .product-thumbnail {
  filter: saturate(20%) opacity(50%);
}

.product-card.out-of-stock .product-thumbnail {
  position: relative;
}

.out-of-stock-text {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-gray);
  font-size: 1.25rem;
  text-align: center;
}

.product-card.out-of-stock {
  color: var(--clr-light-gray);
}

/* CART MODAL section */

.cart-modal {
  position: absolute;
  z-index: 3000;
  width: 100%;
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
  padding-inline: 1rem;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.cart-modal-empty {
  padding-block: 1.5rem;
  border-bottom: 1px solid var(--clr-green);
  width: 100%;
}

.cart-modal-title {
  align-self: flex-start;
  width: 100%;
  padding-inline: 0.5rem;
  padding-block-end: 1rem;
  margin-block-start: 1rem;
}

.cart-modal-heading {
  font-size: 1rem;
  margin-block-end: 1.563rem;
}

.cart-modal-items {
  flex-direction: column;
}

.cart-modal-item {
  justify-content: space-between;
  align-items: stretch;
  margin-block: 1.25rem;
  padding-inline: 0.5rem;
}

.modal-item-heading {
  font-size: 1rem;
  font-weight: 300;
  color: var(--clr-black);
  margin-block-end: 0.313rem;
}

.modal-item-description,
.cart-modal-img {
  width: 40%;
}

.cart-modal-img {
  object-fit: contain;
}

.modal-item-description {
  flex-direction: column;
  justify-content: space-between;
}

.modal-item-header-wrapper {
  margin-block-end: 1rem;
}

.cart-modal-item .modal-item-attributes {
  flex-direction: column;
  align-items: flex-start;
}

.cart-modal-item .pdp-attributes:last-child {
  margin-block-end: 0;
}

.cart-modal-item .pdp-color-swatch {
  width: 1.25rem !important;
  height: 1.25rem;
}

.modal-item-price {
  margin-block-end: auto;
}

.cart-modal-buttons {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-modal-buttons p {
  font-weight: 500;
}

.btn-cart-modal {
  width: 24px;
  height: 24px;
  font-size: 1.75rem;
  font-weight: 300;
  color: var(--clr-black);
  border: 1px solid var(--clr-black);
  align-items: center;
  justify-content: center;
}

.btn-modal-increase {
  margin-block-end: 1.875rem;
}

.btn-modal-decrease {
  margin-block-start: 1.875rem;
}

.modal-item-attributes .btn-cart-modal {
  font-size: 0.875rem;
  margin-inline-end: 0.5rem;
  padding: 0.25rem;
  width: auto;
  color: var(--clr-gray);
  background-color: hsl(0, 0%, 93%);
  border: 1px solid var(--clr-gray);
}

.modal-item-attributes .btn-cart-modal.selected {
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 1px solid var(--clr-black);
}

.total-price {
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding-inline: 0.5rem;
  margin-block: 1.5rem;
}

.modal-heading-total {
  font-family: var(--ff-roboto);
  font-weight: 500;
}

.modal-total-price {
  font-weight: 700;
}

.cart-modal-links {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-block-end: 1.25rem;
  gap: 0.75rem;
}

.cart-modal-link {
  align-items: center;
  justify-content: center;
  width: 140px;
  padding: 0.813rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
}

.link-view-bag {
  border: 1px solid var(--clr-black);
  color: var(--clr-black);
}

.link-checkout {
  background-color: var(--clr-green);
  border: 1px solid var(--clr-green);
  color: var(--clr-white) !important;
}

.check-alert,
.check-attr-alert {
  display: none;
  align-self: flex-start;
  margin-block: 1rem;
  color: hsl(0, 64%, 40%);
}

/* CART PAGE section */

.cart-container {
  flex-direction: column;
  align-items: stretch;
}

.cart-heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-black);
  margin: 2rem 1.5rem;
}

.cart-items-container {
  flex-direction: column;
}

.cart-item-card {
  margin: 1rem;
  border-top: 1px solid hsl(0, 0%, 90%);
  color: var(--clr-black);
  display: grid;
  grid-template-rows: minmax(auto, 200px) 1fr;
  grid-template-areas: 
  "image"
  "details";
}

.item-gallery {
  grid-area: image;
  align-items: center;
  scroll-behavior: smooth;
  margin-block-start: 1rem;
  position: relative;
}

.item-img-highlight {
  max-height: 100%;
  object-fit: contain;
}

.item-details {
  grid-area: details;
}

.item-heading {
  font-size: 1.875rem;
  font-weight: 400;
  padding-block-start: 1.125rem;
  margin-block-end: 1rem;
}

.item-heading::first-line,
.pdp-product-name::first-line {
  font-weight: 600;
}

.item-price {
  font-size: 1.25rem;
  font-weight: 700;
  margin-block-end: 1.625rem;
}

.item-buttons {
  justify-content: space-between;
  align-items: center;
  margin-block-start: 1rem;
}

.item-buttons p {
  font-size: 1.5rem;
  font-weight: 500;
}

.cart-item-card .btn-cart-modal {
  width: 45px;
  height: 45px;
  margin: 0;
}

.cart-items-container .total-price {
  margin: 1rem;
}

.cart-items-container .total-price > * {
  font-size: 1.5rem;
  font-weight: 700;
}

/* PRODUCT DESCRIPTION PAGE section */

.pdp-product-container {
  display: grid;
  grid-template-columns: minmax(auto, 350px);
  grid-template-areas: 
    "gallery"
    "description";
  justify-content: center;
  margin: 1rem
}

.pdp-img-gallery {
  grid-area: gallery;
  display: grid;
  grid-template-areas:
    "main"
    "preview";
  grid-template-rows: minmax(auto, 400px) minmax(100px, auto);
}

.pdp-description-wrapper {
  grid-area: description;
}

.pdp-img-highlight {
  grid-area: main;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery-wrapper {
  grid-area: preview;
  max-width: 350px;
  margin-block-start: 1.5rem;
  align-items: center;
  position: relative;
}

.gallery-preview {
  grid-area: preview;
  max-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  align-items: center;
}

.gallery-arrow {
  display: inline-block;
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease;
  position: absolute;
  z-index: 100;
}

#arrowLeft {
  left: 0;
}

#arrowRight {
  right: 0;
}

.gallery-arrow:hover {
  transform: scale(1.2);
}

.pdp-image {
  width: 30%;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  margin-inline-end: 1.5rem;
  object-fit: cover;
}

.pdp-image.active,
.pdp-image:hover {
  opacity: 1;
}

.pdp-product-name {
  font-size: 1.875rem;
  font-weight: 400;
}

.pdp-product-name::first-line {
  margin-block-end: 1rem;
}

@media (max-width: 45.625em) {
  .pdp-product-name {
    margin-block: 1.5rem;
  }
}

.pdp-attributes {
  margin-block: 1rem;
}

.attr-name,
.pdp-price {
  font-family: var(--ff-roboto-cond);
  font-weight: 700;
  font-size: 1.125rem;
  margin-block-end: 0.5rem;
}

.pdp-price {
  margin-block-end: 0.625rem;
}

.pdp-price-container p {
  padding-block-start: 0.25rem;
  margin-block-end: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.color-swatches {
  justify-content: flex-start;
  align-items: center;
}

.pdp-color-swatch,
.cart-item-card .pdp-color-swatch {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--clr-light-gray);
}

.pdp-button {
  width: 63px;
  height: 45px;
  font-family: var(--ff-source-sans);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: hsl(0, 0%, 16%);
  border: 1px solid var(--clr-black);
  align-items: center;
  justify-items: center;
}

.pdp-capacity.selected,
.pdp-size.selected,
.pdp-port.selected,
.pdp-touchid.selected {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.pdp-button,
.pdp-color-swatch {
  margin-inline-end: 0.75rem;
}

.pdp-color-swatch.selected {
  transform: scale(1.125);
}

.pdp-price-container {
  margin-block-start: 1.5rem;
}

.pdp-btn-addToCart {
  width: 100%;
  text-transform: uppercase;
  padding: 1rem 3.84rem;
  margin-block-end: 2.5rem;
  color: var(--clr-white);
  background-color: var(--clr-green);
  font-weight: 600;
  font-size: 1rem;
}

.pdp-description {
  line-height: 1.6;
}

.pdp-description h1,
.pdp-description h2,
.pdp-description h3 {
  margin-block-end: 1rem;
}

.pdp-description ul li {
  margin-block-end: 0.25rem;
}

@media (max-width: 45.625em) {
  .pdp-description {
    margin-block-end: 3rem;
  }

  .pdp-description h1 {
    font-size: 1.5rem;
  }

  .pdp-description {
    max-width: 45ch;
  }
}

/* TABLET layout */

@media (min-width: 45.626em) {
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "nav logo buttons";
    justify-content: space-between;
    align-items: start;
    padding: 1rem 3.125rem 0;
    position: relative;
  }

  .primary-navigation {
    grid-area: nav;
  }

  .header-logo-link {
    grid-area: logo;
    justify-self: center;
    margin-block: 0.5rem;
  }

  .btn-header-wrapper {
    grid-area: buttons;
  }

  .btn-menu {
    display: none;
  }

  .btn-cart-container{
    margin-inline-start: auto;
  }

  .nav-link {
    padding-block-end: 2rem;
  }

  .main {
    padding: 2rem 3.125rem 3.5rem;
  }

  .category-heading {
    margin: 1rem 0;
  }

  .products-container {
    grid-template-columns: repeat(2, minmax(auto, 300px));
    justify-content: space-evenly;
    gap: 20px;
  }

  .product-card-link {
    height: 100%; 
    display: flex;
    flex-direction: column;
  }

  .product-name {
    margin-block-start: auto;
    font-size: 1.25rem;
  }

  .out-of-stock-text {
    font-size: 1.5rem;
  }

  .product-cta {
    position: relative;
  }

  .product-price {
    margin-block-start: 0.5rem;
  }

  .product-card-btn-addToCart {
    position: absolute;
    right: 17px;
    bottom: 63px;
    opacity: 0;
    transition: all 200ms ease-in-out;
  }

  .product-card-link.scaled .product-card-btn-addToCart {
    opacity: 1;
  }

  .cart-modal {
    width: 325px;
    padding-inline: 0.5rem;
  }

  .cart-modal-title {
    padding-block-end: 0;
  }

  .cart-modal-img {
    width: 30%;
  }

  .cart-modal-links {
    justify-content: space-between;
    padding-inline: 0.5rem;
  }

  .cart-modal-link {
    width: 50%;
    padding-inline: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 200ms ease-in;
  }
  
  .cart-modal-link:hover {
    opacity: 0.9;
    transform: scale(1.01);
    box-shadow: 0px 12px 38px -8px rgba(95, 206, 125, 0.3);
  }

  .cart-item-card {
    grid-template-rows: minmax(auto, 300px);
  }

  .cart-items-container .total-price {
    margin: 0.5rem;
  }

  .pdp-product-container {
    padding-block-end: 2.5rem;
  }

  .pdp-product-name {
    margin-block-start: 1rem;
  }
}

/* DESKTOP layout */

@media (min-width: 60rem) {
  .header,
  .main {
    padding-inline: 6.125rem;
  }

  .main {
    padding-block-start: 5rem;
  }

  .products-container {
    grid-template-columns: repeat(3, minmax(auto, 350px));
    justify-content: space-between;
  }

  .product-name {
    font-size: 1.125rem;
  }

  .product-price {
    margin-block-start: 0.5rem;
  }

  .pdp-product-container {
    grid-template-areas: "gallery description";
    grid-template-columns: 1fr minmax(auto, 300px);
    grid-template-rows: auto;
    align-items: start;
    gap: 6.25rem;
    padding-block-end: 0;
    margin: 0;  
  }

  .pdp-img-gallery {
    height: 100%;
    grid-template-areas: "preview main";
    grid-template-columns: minmax(auto, 80px) minmax(auto, 600px);
    grid-template-rows: auto;
    gap: 2.5rem;
    align-items: start;
    justify-content: space-between;
  }

  .gallery-wrapper,
  .gallery-preview {
    flex-direction: column;
  }

  .gallery-wrapper {
    margin-block-start: 0;
  }

  .gallery-wrapper .gallery-arrow {
    display: none;
  }

  .pdp-img-highlight {
    max-height: 500px;
  }

  .pdp-image {
    width: 100%;
    height: 80px;
    object-fit: cover;
    margin-block-end: 1.25rem;
    margin-inline-end: 0;
  }

  .pdp-description-wrapper {
    display: flex;
    flex-direction: column;
  }

  .pdp-btn-addToCart {
    margin-block-end: 1rem;
  }

  .pdp-product-name {
    margin-block-start: 0;
  }

  .pdp-description {
    margin-block-start: auto;
  }

  .cart-item-card {
    grid-template-areas: "details image";
    grid-template-columns: 1fr minmax(auto, 140px);
    grid-template-rows: minmax(140px, 1fr);
    align-items: stretch;
    gap: 0.75rem;
    padding-block-start: 1.25rem;
  }

  .item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .item-buttons {
    order: 1;
    flex-direction: column;
    align-self: stretch;
  }

  .item-buttons .btn-modal-increase {
    margin-block-start: auto;
  }

  .item-buttons .btn-modal-decrease {
    margin-block-end: auto;
  }

  .item-gallery,
  .item-buttons {
    margin-block-start: 0;
  }

  .item-gallery {
    align-self: center;
  }

  .item-gallery .gallery-arrow {
    width: 24px;
    height: 24px;
  }

  .item-heading {
    padding-block-start: 0;
  }

  .modal-item-attributes .pdp-color-swatch {
    margin-inline-end: 0.25rem;
  }
}