:root {
  --ff-raleway: "Raleway", sans-serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-roboto-cond: "Roboto Condensed", sans-serif;
  --ff-source-sans: "Source Sans Pro", sans-serif;

  --clr-green: hsl(136 53% 59%);
  --clr-gray: hsl(0 0% 65%);
  --clr-light-gray: hsl(231 6% 58%);
  --clr-black: hsl(216 8% 12%);
  --clr-white: hsl(0 0% 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: var(--ff-raleway);
  font-weight: 400;
}

img {
  width: 100%;
  display: block;
}

button {
  display: inline-block;
  border: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

button,
select {
  font-family: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\200B";
}

ul li {
  margin-block-end: 0.5rem;
}

li span {
  line-height: 1.6;
}

.flex {
  display: flex;
}

.clr-black {
  color: var(--clr-black);
}

.clr-light {
  color: var(--clr-light-gray);
}

.clr-black {
  color: var(--clr-black);
}

/* HEADER section */

.header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header > * {
  padding: 0.5rem;
}

.header-logo {
  width: 40px;
}

.btn {
  width: 3rem;
  height: 3rem;
  margin-inline: 0.5rem;
}

.btn-currency {
  color: var(--clr-black);
  border: none;
  font-weight: 500;
  font-size: 1.125rem;
  margin-inline-start: auto;
  position: relative;
}

.btn-currency::after {
  content: "";
  background: url(/src/static/arrow-down.svg) center center no-repeat;
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  right: 4px;
  bottom: 18px;
}

.btn-currency option {
  font-weight: 500;
}

.btn-cart-container {
  position: relative;
}

.btn-cart {
  background-image: url(/src/static/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 2px;
}

.btn-cart-counter {
  position: absolute;
  right: 16px;
  bottom: 33px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: var(--clr-black);
  color: var(--clr-white);
  justify-content: center;
  align-items: center;
}

@media (max-width: 50em) {
  .btn-menu {
    font-size: 1.125rem;
    padding-block-start: 0.5rem;
    z-index: 6000;
  }

  .btn-menu[aria-expanded="true"] {
    color: var(--clr-green);
  }

  .primary-navigation {
    z-index: 5000;
    position: fixed;
    padding-block-start: 1.5rem;
    background: var(--clr-white);
    border-left: 2px solid var(--clr-green);
    inset: 0 0 0 20%;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 300ms ease-in-out;
    transform: translateX(100%);
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }
}

.primary-navigation li {
  margin-block: 1rem;
  align-items: center;
  justify-content: center;
}

.nav-link {
  display: inline-block;
  width: 90%;
  text-decoration: none;
  text-transform: uppercase;
  padding-inline: 1rem;
  padding-block-end: 1.5rem;
}

.nav-link:link,
.nav-link:visited,
a:link,
a:visited {
  color: var(--clr-black);
}

.nav-link:hover {
  color: var(--clr-gray);
}

.nav-link.selected {
  font-weight: 600;
  color: var(--clr-green);
  border-bottom: 2px solid var(--clr-green);
}

/* PRODUCTS LIST section */

.category-heading {
  color: var(--clr-black);
  font-size: 2.625rem;
  font-weight: 400;
  margin: 1rem;
}

.products-container {
  margin-block-start: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Product Card */
.product-card {
  padding: 1rem;
  color: var(--clr-black);
  position: relative;
}

@media (max-width: 50em) {
  .product-card {
    margin: 1rem;
  }
}

.product-name {
  margin-block-start: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.product-price {
  font-weight: 500;
  font-size: 1.125rem;
}

.product-cta {
  justify-content: space-between;
  align-items: center;
}

.product-card-btn-addToCart {
  width: 52px;
  height: 52px;
  background: url(/src/static/btn-add-to-cart.svg) center center no-repeat;
  background-size: 100%;
}

.product-card-btn-addToCart[disabled],
.product-card.out-of-stock .product-thumbnail {
  filter: saturate(20%) opacity(50%);
}

.product-card.out-of-stock .product-thumbnail {
  position: relative;
}

.out-of-stock-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-gray);
  font-size: 1.25rem;
  text-align: center;
}

.product-card.out-of-stock {
  color: var(--clr-light-gray);
}

/* CART MODAL section */

.cart-modal {
  position: absolute;
  z-index: 3000;
  left: 0;
  width: 90%;
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
  margin-inline: 1rem;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.cart-modal-empty {
  padding-block: 1.5rem;
  border-bottom: 1px solid var(--clr-green);
  width: 100%;
}

.cart-modal-title {
  align-self: flex-start;
  width: 100%;
}

.cart-modal-heading {
  font-size: 1rem;
  margin-block-end: 1.563rem;
}

.cart-modal-items {
  flex-direction: column;
}

.cart-modal-item {
  justify-content: space-between;
  align-items: stretch;
  margin-block: 1.25rem;
}

.modal-item-heading {
  font-size: 1rem;
  font-weight: 300;
  color: var(--clr-black);
  margin-block-end: 0.313rem;
}

.modal-item-description,
.cart-modal-img {
  width: 40%;
}

.modal-item-description {
  flex-direction: column;
  justify-content: space-between;
}

.modal-item-price {
  margin-block-end: auto;
}

.cart-modal-buttons {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn-cart-modal {
  width: 24px;
  height: 24px;
  font-size: 1.75rem;
  font-weight: 300;
  color: var(--clr-black);
  border: 1px solid var(--clr-black);
  align-items: center;
  justify-content: center;
}

.btn-modal-increase {
  margin-block-end: 1.875rem;
}

.btn-modal-decrease {
  margin-block-start: 1.875rem;
}

.modal-item-attributes .btn-cart-modal {
  font-size: 0.875rem;
  margin-inline-end: 0.5rem;
  padding: 0.25rem;
  width: auto;
  color: var(--clr-gray);
  background-color: hsl(0, 0%, 93%);
  border: 1px solid var(--clr-gray);
}

.modal-item-attributes .btn-cart-modal.selected {
  color: var(--clr-black);
  background-color: var(--clr-white);
  border: 1px solid var(--clr-black);
}

.total-price {
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.modal-heading-total {
  font-family: var(--ff-roboto);
  font-weight: 500;
}

.modal-total-price {
  font-weight: 700;
}

.cart-modal-links {
  align-items: center;
  justify-content: center;
  margin-block-end: 1.25rem;
  gap: 0.75rem;
}

.cart-modal-link {
  padding: 0.813rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
}

.link-view-bag {
  border: 1px solid var(--clr-black);
  color: var(--clr-black);
}

.link-checkout {
  background-color: var(--clr-green);
  border: 1px solid var(--clr-green);
  color: var(--clr-white) !important;
}

.check-alert {
  display: none;
  align-self: flex-start;
  margin-block: 1rem;
  color: hsl(0, 64%, 40%);
}

/* CART PAGE section */

.cart-container {
  flex-direction: column;
  align-items: flex-start;
}

.cart-heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-black);
  margin: 2rem 1.5rem;
}

/* PRODUCT DESCRIPTION PAGE section */

.pdp-product-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 1rem;
  width: 90%;
}

.pdp-product-name {
  font-size: 1.875rem;
  font-weight: 600;
}

@media (max-width: 50em) {
  .pdp-product-name {
    margin-block: 1.5rem;
  }
}

.pdp-attributes {
  margin-block-end: 1rem;
}

.attr-name,
.pdp-price {
  font-family: var(--ff-roboto-cond);
  font-weight: 700;
  font-size: 1.125rem;
  margin-block-end: 0.5rem;
}

.pdp-price {
  margin-block-end: 0.625rem;
}

.pdp-price-container p {
  padding-block-start: 0.25rem;
  margin-block-end: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.color-swatches {
  justify-content: flex-start;
  align-items: center;
}

.pdp-color-swatch {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.pdp-button {
  width: 63px;
  height: 45px;
  font-family: var(--ff-source-sans);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: hsl(0, 0%, 16%);
  border: 1px solid var(--clr-black);
  align-items: center;
  justify-items: center;
}

.pdp-capacity.selected,
.pdp-size.selected {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.pdp-button,
.pdp-color-swatch {
  margin-inline-end: 0.75rem;
}

.pdp-color-swatch.selected {
  transform: scale(1.3);
}

.pdp-price-container {
  margin-block-start: 1.5rem;
}

.pdp-btn-addToCart {
  text-transform: uppercase;
  padding: 1rem 3.84rem;
  margin-block-end: 2.5rem;
  color: var(--clr-white);
  background-color: var(--clr-green);
  font-weight: 600;
  font-size: 1rem;
}

@media (max-width: 50em) {
  .pdp-description {
    margin-block-end: 3rem;
  }

  .pdp-description h1 {
    font-size: 1.5rem;
    margin-block-end: 1rem;
  }
}
